{% extends "base.html" %}
{% block title %} Create {% endblock %}

{% block content %} 

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card card-100 m-2 cb1 text-center">
                <div class="image-grid">
                        <img src="../static/images/classes/barbarian.PNG" alt="barbarian" onclick="window.location.href='createdetails/1'">
                        <img src="../static/images/classes/bard.PNG" alt="bard" onclick="window.location.href='createdetails/2'">
                        <img src="../static/images/classes/cleric.PNG" alt="cleric" onclick="window.location.href='createdetails/3'">
                        <img src="../static/images/classes/druid.PNG" alt="druid" onclick="window.location.href='createdetails/4'">
                        <img src="../static/images/classes/fighter.PNG" alt="fighter" onclick="window.location.href='createdetails/5'">
                        <img src="../static/images/classes/monk.PNG" alt="monk" onclick="window.location.href='createdetails/6'">
                        <img src="../static/images/classes/paladin.PNG" alt="paladin" onclick="window.location.href='createdetails/7'">
                        <img src="../static/images/classes/ranger.PNG" alt="ranger" onclick="window.location.href='createdetails/8'">
                        <img src="../static/images/classes/rogue.PNG" alt="rogue" onclick="window.location.href='createdetails/9'">
                        <img src="../static/images/classes/sorcerer.PNG" alt="sorcerer" onclick="window.location.href='createdetails/10'">
                        <img src="../static/images/classes/warlock.PNG" alt="warlock" onclick="window.location.href='createdetails/11'">
                        <img src="../static/images/classes/wizard.PNG" alt="wizard" onclick="window.location.href='createdetails/12'">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}